<div class="page">
    <app-cabecalho></app-cabecalho>
    <div class="group">
        <div class="search">
            <div class="tittle-page">
                <p>800 <b> Pokemons </b> for you to choose your favorite</p>
            </div>
            <div class="search-input">
                <input type="text" placeholder="Search your favorite pokemon..." class="back-plate txt-ff" autofocus [(ngModel)]="pokemonInput" (keyup.enter)="searchPokemon()">
            </div>
            <div class="filter-type">
                <mat-form-field>
                    <mat-label>Tipos</mat-label>
                    <mat-select [formControl]="tipo" multiple (selectionChange)="limitSelectionType($event)">
                        <mat-option *ngFor="let tipo of typeList" [value]="tipo" (click)="typeSearch(tipo)" >{{tipo}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Ordenar</mat-label>
                  <mat-select [formControl]="ordem">
                      <mat-option *ngFor="let ordem of ordemOptions" [value]="ordem">{{ordem}}</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Filtrar</mat-label>
                <mat-select [formControl]="filtrar">
                    <mat-option *ngFor="let filtrar of filtrarOptions" [value]="filtrar">{{filtrar}}</mat-option>
                </mat-select>
            </mat-form-field>
            <img src="../../../../assets/image.png" alt="" class="img-filter" (click)="ordernarLista()">
            </div>
        </div>
        <div class="cards">
            <div class="scale-up-center" *ngFor="let card of listaPokemonsDividida[0 + valuePage]">
                <div class="card slide-top" (click)="modalFunction(card)" id="teste">
                    <div class="left">
                        <h3 class="tittle">{{card.name}}</h3>
                        <div class="stats">
                            <div class="stats-atk">
                                <div class="circulo">
                                    <span>{{card.atk}}</span>
                                </div>
                                <h3>Attack</h3>
                            </div>
                            <div class="stats-def">
                                <div class="circulo">
                                    <span>{{card.def}}</span>
                                </div>
                                <h3>Defense</h3>
                            </div>
                        </div>
                        <div>
                            <div class="tipos"  *ngFor="let tipo of card.type" >
                                <div class="tipo" [ngClass]=" tipo.type.name ">
                                    <span>{{tipo.type.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right" [ngClass]="card.type[0].type.name">
                        <img  *ngIf="card.img; else imgAlternativa" [src]="card.img" alt="" class="img">
                        <ng-template #imgAlternativa>
                          <img src="../../../../assets/pikachiImgAlternativa.png" alt="" class="img imgAlt">
                        </ng-template>
                    </div>
                </div>
            </div>
    </div>
    <div class="loader">
        <button class="btt-loader btt-loader1" (click)="pageAnterior()" [disabled]="clickDisableVoltar"></button>
        <button class="btt-loader btt-loader2" (click)="pageProximo()" [disabled]="clickDisableSeguir"></button>
    </div>
    <app-rodape></app-rodape>
</div>
<div class="modal" *ngIf="!modalClosed">
    <app-modal
    [nome]='pokemonSelected.name'
    [img]='pokemonSelected.img'
    [hp]='pokemonSelected.hp'
    [xp]='pokemonSelected.xp'
    [hpPorcentagem]='pokemonSelected.hp * 100 / 255'
    [xpPorcentagem]='pokemonSelected.xp * 100 / 340'
    [atk]='pokemonSelected.atk'
    [def]='pokemonSelected.def'
    [spAtk]='pokemonSelected.spAtk'
    [spDef]='pokemonSelected.spDef'
    [abilities]='pokemonSelected.abilities'
    [type1]='pokemonSelected.type[0].type.name'
    (closeModalEvent)="closeModal($event)"


    ></app-modal>
</div>
