<div class="background">
    <div class="position">
        <div class="rocketGroup">
            <img class="teamRocketImg" src="../../../../assets/team-rocket.svg" alt="TeamRocket">
            <p class="txtrocket ff-karla"><span id="txtrocket">The rocket team </span> has won this time.</p>
        </div>
        <div class="acoes">
            <button class="btt ff-karla" routerLink="/home">
                    Return
            </button>
        </div>
    </div>
    <div class="erro404">
        404
    </div>
</div>