<div class="container">
    <app-header></app-header>
    <div class="page">
        <div class="card">
            <div class="content">
                <p class="ff-karla text-part1">
                    <b>Find </b> all your 
                    <span class="br-mobile-hide"><br></span>
                    favorite<br> 
                    <b> Pokemon </b>
                  </p>
                <p class="ff-karla text-part2">You can know the type of Pokemon, its strengths, disadvantages and
                    abilities
                </p>
                <button class="button ff-karla scale-down" routerLink="/pokedex">
                    See pokemons
                </button>
            </div>
        </div>
        <img class="img" src="../../../../assets/pikachu-img.svg" alt="">
    </div>
</div>