<div class="page">
    <app-cabecalho></app-cabecalho>
    <div class="conteudo">
        <div class="card">
            <p class="ff-karla ff-card1"><b>Find </b> all your <br> 
                favorite<br> <b> Pokemon </b> </p>
            <p class="ff-karla ff-card2">You can know the type of Pokemon, its strengths, disadvantages and abilities</p>
            <button class="btt see-pokemon ff-karla" routerLink="/pokedex">
                See pokemons
            </button>
        </div>
        <div class="img">
            <img src="../../../../assets/pikachu-img.svg" alt="">
        </div>
    </div>
    <app-rodape></app-rodape>
</div>